.container {
  border: 1px solid var(--color-border);
  border-radius: 16px;
  padding: 1rem;
}

.container > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-accent);
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container > form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > label {
    font-weight: 500;
    padding-left: 0.5rem;
  }

  > input {
    padding: 0.5rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
  }
}
