.container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 0;

  /* the background should be blurry */
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.25);

  width: 100%;
}

.title_container {
  display: flex;
  align-items: center;

  .title {
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.2px;
    margin-right: auto;
  }
}

.count {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.stat {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.2px;
}

.list {
  padding-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 24px;
}
