.container {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

/* Hero Section */
.hero {
  text-align: center;
  max-width: 800px;
}

.tagline {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-gray);
  line-height: 30px;
  text-align: start;
}

/* Mission Card */
.mission {
  width: 100%;
  max-width: 900px;
  background: #fafafa;
  /* border-radius: 16px; */
  padding: 1rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.mission p {
  font-size: 18px;
  color: var(--color-gray);
  line-height: 28px;
}

.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
  max-width: 900px;
}

.sections p {
  font-size: 16px;
  color: var(--color-gray);
  line-height: 26px;
}

/* Support */
.support {
  max-width: 700px;
  text-align: center;
}

.support h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.support p {
  font-size: 16px;
  color: var(--color-gray);
  margin-bottom: 20px;
  line-height: 26px;
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Footer */
.footer {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray);
}

b {
  font-weight: 600;
  color: var(--color-text-primary);
}
