.container {
  border: 1px solid lightgrey;
  border-radius: 16px;
  padding: 1rem;

  > div {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: right;
  }

  > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > div {
      display: flex;
      flex-direction: column;
      /* gap: 0.5rem; */

      > label {
        font-weight: 500;
        padding-left: 0.5rem;
      }

      > input {
        padding: 0.5rem;
        border: 1px solid lightgrey;
        border-radius: 8px;
      }
    }

    > button {
      padding: 0.5rem;
      border: 1px solid lightgrey;
      border-radius: 8px;
      background-color: lightblue;
      cursor: pointer;
    }
  }
}
