.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90vw;
  padding: 1rem;
  margin: 1rem auto;
  margin-bottom: 75px;
  border: 1px solid #ccc;
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;

    /* all labels */
    label {
      font-size: 1.2rem;
      font-weight: 600;

      input {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
      }

      textarea {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        min-height: 150px;
      }

      select {
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
      }
    }

    /* only labels immediately in the form, exclude the nested labels in blocks */
    > label {
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .price_block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      > label {
        width: 50%;
        padding: 0.2rem;
      }

      > div {
        width: 50%;
        padding: 0.2rem;
      }
    }

    .item_option_block {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      > label {
        /* width: 50%; */
        padding: 0.2rem;
      }
    }

    button {
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #f0f0f0;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-left: auto;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
